<% cache 'index page' do %>
  <!DOCTYPE html>
  <html>
    <head>
      <title>My Gear — minimalist clothing collection by Holman Gao</title>
      <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic' %>
      <%= stylesheet_link_tag 'application' %>
      <%= csrf_meta_tags %>
      <%= favicon_link_tag 'favicon.ico' %>
      <meta name="robots" content="noindex">
    </head>
    <body>
      <div id="router-container">
        <%= react_component 'App.RouterBootstrap' %>
      </div>
      <%= include_gon %>
      <%= javascript_include_tag 'application' %>
    </body>
  </html>
<% end %>
